---
export interface Props {
  authors: Array<{ avatar: string }>;
}

const { authors } = Astro.props;
---

<div class="authors-container">
  {authors.map((author, i) => (
    <img
      class="author-avatar"
      style={`z-index: ${authors.length - i}`}
      src={author.avatar}
      alt=""
    />
  ))}
</div>

<style>
  .authors-container {
    display: flex;
    margin-left: -0.5rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-top: 1.5rem;
  }

  .author-avatar {
    position: relative;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 2px solid white;
  }
</style>
